In [38]:
--Hianyzó adatok
SELECT 
    SUM(CASE WHEN LISTAAR IS NULL THEN 1 ELSE 0 END) AS hianyzo_listaar,
    SUM(CASE WHEN LEIRAS IS NULL THEN 1 ELSE 0 END) AS hianyzo_leiras,
    SUM(CASE WHEN MEGNEVEZES IS NULL THEN 1 ELSE 0 END) AS hianyzo_megnevezes
FROM Termek;

hianyzo_listaar,hianyzo_leiras,hianyzo_megnevezes
0,527,0

In [40]:
--Átlagok
SELECT 
    MIN(LISTAAR) AS min_ar,
    MAX(LISTAAR) AS max_ar,
    AVG(LISTAAR) AS atlag_ar
FROM Termek;

min_ar,max_ar,atlag_ar
0,46000,"786,2813067150635"

In [41]:
--Első és utolsó felvitel
SELECT 
    MIN(FELVITEL) AS elso_felvitel,
    MAX(FELVITEL) AS utolso_felvitel
FROM Termek;

elso_felvitel,utolso_felvitel
2016-07-01,2016-12-11

In [42]:
--Ki hány terméket vitt fel
SELECT FELVITTE, COUNT(*) AS db
FROM Termek
GROUP BY FELVITTE
ORDER BY db DESC;

FELVITTE,db
Béla,189
Sára,188
Mari,174