In [11]:
CREATE TABLE Hazi_Webshop (

    email VARCHAR(100) MASKED WITH (FUNCTION = 'email()'),
    nev VARCHAR(100) MASKED WITH (FUNCTION = 'partial(3,"XXX",3)'),
    szulev date MASKED WITH (FUNCTION = 'default()'),
    nem INT MASKED WITH (FUNCTION = 'random(1,2)'),
    [login] varchar(100),
    cim varchar(100)
);
INSERT INTO Hazi_Webshop
(email, nev, szulev, nem, [login], cim)
select email, nev, szulev, nem, [login], cim
from ugyfel


CREATE USER MaskUser WITHOUT Login;
GRANT SELECT ON Hazi_Webshop TO MaskUser


EXECUTE AS User= 'MaskUser';
SELECT * FROM Hazi_Webshop
REVERT

: Msg 262, Level 14, State 1, Line 1
CREATE TABLE permission denied in database 'webshop'.